.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    margin-bottom: 2rem;
    background-color: #888e9669;
    padding: 1.4rem 0rem;
    border-radius: 2rem;
}

.plusIcon {
    margin-left: 2rem;
    margin-right: -1rem;
}

.texts {
    margin-left: 3rem;
    margin-right: 3rem;
    flex: 1;
}

textarea {
    resize: none;
    overflow: hidden;
    height: 2rem;
}

.mainTitle {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    display: block;
    width: 100%;

    background: none;
    border: none;
    color: #F4F6FA;
    font: inherit;
    outline: none;
}

.mainTitle::placeholder {
    color: #F4F6FA;
    font-size: 1.2rem;
    font-weight: 600;
}

.subTitle {
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;

    display: block;
    width: 100%;

    background: none;
    border: none;
    color: #b8b8b890;
    font: inherit;
    outline: none;
}

.subTitle::placeholder {
    color: #b8b8b890;
}

@media only screen and (max-width: 650px) {
    .card {
        width: 100%;
    }

    .texts {
        margin-left: 2rem;
        margin-right: 2rem;
        flex: 1;
    }

    .mainTitle, .mainTitle::placeholder {
        font-size: 1.1rem;
    }

    .subTitle, .subTitle::placeholder {
        font-size: 0.9rem;
    }

    textarea {
        height: auto;
    }
}